<% currencies.forEach(function(currency){ %>
    <a href="/currency/<%= currency.name %>/<%= currency.supply %>/<%= currency.priceUsd %>/<%= currency.rank%>/<%=currency.maxSupply%>"><h1><%= currency.name %></h1></a>
<% }); %>